/* Shop Category Banner */
.shopcategory-banner {
    display: block;
    margin: 130px auto 30px auto; /* Adjusted top margin to add more space above the banner */
    width: 82%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Index and Sort Section */
.shopcategory-indexSort {
    display: flex;
    margin: 0px 90px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    color:#f2ffe9;
    background-color:#557c55; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.shopcategory-sort:hover {
    background-color: #a6cf98;
    color: #f2ffe9; 
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

/* Product Grid */
.shopcategory-products {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 20px;
}

/* Load More Button */
.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px 40px;
    border-radius: 75px;
    background: #f5f5f5;
    color: #555;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.shopcategory-loadmore:hover {
    background: #e0e0e0;
    color: #333;
}
